<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Junior Hackathon</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>


<body>
    <!-- <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><img src="assets/img/bitlogo.png" style="width: 50px"><img src="assets/img/clogo.png" style="width: 60px"><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Round Details</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Timeline</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Rules&Regulations</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Themes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Judges</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Prizes</a></li>
                </ul>
        </div>
        </div>
    </nav> -->
    <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><img src="assets/img/bitlogo.png" style="width: 35px"><img src="assets/img/clogo.png" style="width: 40px"></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#round">Round Details</a></li>
              <li><a href="#timeline">Timeline</a></li>
              <li><a href="#rules">Rules&Regulations</a></li>
              <li><a href="#services">Themes</a></li>
              <li><a href="#pricing">Prizes</a></li>
              <!-- <li><a href="#pricing">Prizes</a></li> -->
              <!-- <li class="drop-down"><a href="">Drop Down</a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li class="drop-down"><a href="#">Deep Drop Down</a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Drop Down 2</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li>

            </ul> -->
          </nav><!-- .nav-menu -->

          <a href="#footer" class="get-started-btn scrollto">Contact</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->
  <section id="vanta" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8" id="lancenter">
          <h1>Junior Hackathon</h1>
          <h2>Virtual Science and Technology Fair</h2>
          <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
          <br>
          <a href="https://dare2compete.com/o/junior-hardware-hackathon-model-club-bit-sindri-dhanbad-133411" class="get-started-btn scrollto"><i class="fas fa-sign-in-alt"></i> Register With D2C!</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
    <section  id="about" class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/about.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">About!</h2>
                        <p>It is an all India technical model
                            exhibition and Problem Solving for
                            school students which encompasses
                            the exposition of the static and
                            dynamic models, whereby the stealthy
                            potentials of the youth are unveiled.
                        </p>
                        <p>
                            The motto of this superfluous segment
                            is <strong>“EXUDE THE LIGHT OF
                            INNOVATION”</strong>

                            <ul>
                            
                                <li>This event is exclusively
                            chalked out to court participation
                            beyond the walls of technical
                            institution so as to scoop out the
                            essence of innovation from every
                            nooks and crannies of the region</li>
                            <li>The
                            event showcases the acumen of the
                            participants to implement their
                            imagination to real world models</li>
                            .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section  id="round" class="round">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/round.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Round Details!</h2>
                        <p><Strong>Round 1 Details (INFO BRIDGE)</Strong></p>
                        <p>
                            In this round, participants will require to submit the info regarding their model. A format is provided in
                            the link below. Fill it & send it in pdf format.</p>
                            <p>
                            Link to download : <a href="https://drive.google.com/file/d/1XnUeC6RUjDYOXFrqJ4GMPM7YOSa3R6Mc/view">Click Here!</a></p>
                            <p>
                            Note: <i>This is not a qualifier round. There will be no judgement in this round. But this will be a
                            necessary condition to complete the registration.</i><p>
                                <p>
                            <strong>Round 2 Details (ONLINE PROTOTYPE EXPOSITION)</strong>
                            <p>
                            In this round, the participants will present their static or dynamic models. Apart from real model, they
                            can present a power point presentation for making things clear about the model. There will be a time
                            limit of 5 minutes for model presentation and rest 5 minutes for answering queries of Judging panel.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="timeline" class="timeline">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/timeline.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Timeline!</h2>
                        <p><strong>Eligibility</strong></p>
                            <p>All the Students from Std. VIII to XII from any board are allowed to take part in the event</p>
                        <p>
                            <p><strong>Registrations & Important Deadlines</strong></p>
                            <table>
                              <tr>
                                <th>Details</th>
                                <th>Date</th>
                              </tr>
                              <tr>
                                <td>Event Launch Date </td>
                                <td>25th October 2020</td>
                              </tr>
                              <tr>
                                <td>Registration Starts </td>
                                <td>25th October 2020</td>
                              </tr>
                              <tr>
                                <td>Registration Ends</td>
                                <td>21st November 2020</td>
                              </tr>
                              <tr>
                                <td>Model Making Duration</td>
                                <td>25th October to 21st November 2020</td>
                              </tr>
                              <tr>
                                <td>Model Verification</td>
                                <td>22nd November</td>
                              </tr>
                              <tr>
                                <td>Main Event Date </td>
                                <td>28th and 29th November 2020</td>
                              </tr>
                              <tr>
                                <td>Result Date </td>
                                <td>5th December 2020</td>
                              </tr>
                            </table>
                        </p>
                        <p>Note: <i>The Model must be made in the duration provided (25-10-2020 to 21-11-2020). Those who fails
                            to get their model verified on 22nd November, they won’t be able to present their model.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section  id="rules" class="rules">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/rules2.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Rules&Regulation</h2>
                        <p>Registration can be done in group of maximum 3 participants and minimum 1participant.</p>
                        <ul>
                          <li> This platform welcomes anyone with the perspective to present their model. In a team,
                          members can be from different schools too.</li>
                          <li>The Team Name should be unique and not contain the name of your school in any form</li>
                          <li>No inter-class restrictions. Students from two different Classes are allowed to form
                          team.</li>
                          <li>Teams will have their Team ID which will be used for further contacts and process of
                          Junior Hardware Hackathon.</li>
                          </ul>
                          <p><strong> Submissions:</strong></p>
                          <p>➢ Each team has to select their theme of the model while registering.</p>
                          <p>➢ By the end of Registration and model verification, teams will be allowed to present their
                          models in front of jury and judgement will be based on the feasibility, practicability,
                          sustainability, scale of impact, user experience and potential for future work.</p>
                          
                </div>
            </div>
        </div>
    </section>
    <section >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/rules.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <p><strong>Important Documents:</strong></p>
                          <p>➢ Abstract/ Brief description of the Model.</p>
                          <p>➢ The idea should be related to the domain mentioned in the themes & Open Innovation is
                          allowed.</p>
                          <p>➢ Plagiarism is not allowed. The abstract should be 100% unique.</p>
                          <p><strong>Exhibition Round:</strong></p>
                          <p>➢ Only the team Leader will get the link to Google meet for a presentation session. It would
                          be solely the responsibility of the team leader to ensure the presence of his/her
                          teammates.</p>
                          <p>➢ On the day of presentation, teams will have to present their Idea in front of the jury.</p>
                          <p>➢ During the Presentation Round, all members of the team should be present in the
                          presentation.</p>
                          <p>➢ Within 5 minutes the Model presentation should be wrapped up. 5 other minutes will be
                          for answering the queries of Judging Panel.</p>
                          <p>Note: <i>Arguing with organizers / judges will lead to disqualification.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Themes!</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href=""> Farmers and Agriculture</a></h4>
              <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Covid19 & Healthcare</a></h4>
              <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Home Equipment    </a></h4>
              <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Equipment for Old People</a></h4>
              <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href=""> Chemistry Tricks      </a></h4>
              <!-- <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href=""> General Physics    </a></h4>
              <!-- <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href=""> Energy Production</a></h4>
              <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href=""> Biological Models</a></h4>
              <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Space and Astronomy    </a></h4>
              <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Earth Science</a></h4>
              <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href=""> Engineering      </a></h4>
              <!-- <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">  Construction of Bridges    </a></h4>
              <!-- <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href=""> Computer and Programming</a></h4>
              <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href=""> Mathematical Instruments</a></h4>
              <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href=""> Animal Sciences    </a></h4>
              <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Behavioural and Social Sciences</a></h4>
              <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href=""> Plant Sciences     </a></h4>
              <!-- <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href=""> Open Theme    </a></h4>
              <!-- <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p> -->
            </div>
          </div>
          </div>
          <br>
        <p><i><a href="https://docs.google.com/uc?export=download&id=121GAd_cHnbcdWcOi9haLXK-2xYMrHWSj">Click here!</a> to download all themes.</i></p>
        
      </div>
    </section>

    <footer id="footer" class="footer">
    <div class="container">
      <!-- <h3>Designed By:</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p> -->
      <div class="social-links">
        <a href="https://www.facebook.com/modelclubbit" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/modelclubbit/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="www.modelclubbit.com" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a href="https://www.linkedin.com/company/modelclub-bitsindri/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
         Copyright &copy; 2020  <strong><span>The Model Club.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/imran-nazir-692abb112/">Imran Nazir</a>
      </div>
    </div>
  </footer><!-- End Footer -->

    <!-- vantajs script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script>
    VANTA.NET({
      el: "#vanta",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00
    })
    </script>

    <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="https://kit.fontawesome.com/23cd0e260d.js" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>